#header_container {
    background-color: #537FE7;
}

#header {
    font-size: 24px;
    color: white;
}

#body {
    background-color: #181823;
}

#auto {
    background-color: #537FE7;
    color: white;
    border-width: 2px;
    border-style: hidden;
    border-color: white;
    border-radius: 10px;
    font-size: 20px;
}

#champ_image {
    border-style: solid;
    border-radius: 20px;
    border-width: 2px;
    border-color: white;
}

#change_button {
    color: black;
    background: #C0EEF2;
    font-size: 20px;
}

#config_button {
    border-radius: 30px;
    border-width: 3px;
    border-style: solid;
    background-color: #E9F8F9;
    color: white;
}