#header_container {
    background-color: #537FE7;
}

#header {
    font-size: 24px;
    color: white;
}

#body {
    background-color: white;
}

#auto {
    background-color: #537FE7;
    color: white;
    border-width: 2px;
    border-style: hidden;
    border-color: white;
    border-radius: 10px;
    font-size: 20px;
}

#champ_image {
    border-style: solid;
    border-radius: 20px;
    border-width: 2px;
}